# Lots of junk goes in here.
/caches/
/backups/

# Top secret stuff!
.ssh/id_*
.ssh/*.pem
.ssh/known_hosts*

# Don't commit Vim plugins, vim-plug will install them.
nvim/bundle
nvim/ctags-5.8
nvim/tmp/undo/*
nvim/tmp/backup/*
nvim/sessions

# Don't commit tmux plugins, tpm will install them.
.tmux/plugins
# Don't commit tmux resurrect state.
.tmux/resurrect

# zsh
zsh/.zcompdump*

# goldendict
.goldendict/index

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*
*/.git
*/.github
*/.gitignore
#!.gitignore
*/.gitattributes
*/.revision-hash
*/.gitmodules
*/.travis.yml
*/cache
